[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anthropic = "*"
boto3 = "*"
groq = "*"
openai = "*"
python-dotenv = "*"
redis = "*"
mistralai = "*"

[dev-packages]
fastapi = "*"
fastapi-cors = "*"
uvicorn = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.11"
